.dashboard-stats {
  display: flex;
  align-items: center;
  background-color: #ececec;
  padding: 12px 24px;
}

.stats-item {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: #222;
}

.stats-item b {
  font-weight: bold;
}

.dashboard-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  background-color: #e7e7e7;
  padding: 24px;
  min-height: 450px;
}

.dashboard-card {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  min-height: 200px;
}
